li > a{
  font-size: 20px;
}
img{
  background-repeat: no-repeat;
  object-fit: cover;
}

.aftercrdiv{
  height: 80px;
  background-color: #c9cbff;
}
.card{
  background-color: #150485;
  color:white;
}
.card:hover{
  background-color: #0f0f0f;

}
.footer {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.footer img {
  border-radius: 40%;
  margin: 20px;
}
.footer-container {
  height: 150px;
  background-color: black;
  margin-top: 50px;
}
.footer img:hover {
  box-shadow: 1px 1px 15px white;
}
.map{
  margin:auto;
  padding: 10;
  width: 80%

}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}

.container {
border-radius:5px;
background-color: #f2f2f2;
padding:40px;
}

.marginbutton{
  margin-left: 10px;
}
.flex-container {
  display: flex;
  margin: 10px;
  text-align: left;
  background-color: black;
}

.flex-container > div {
  margin: 30px;
  position: relative;
  left: 10px;
  padding: 30px;
  font-size: 15px;
  

}
@media only screen and (max-width: 786px) {
  /* For mobile phones: */
  [class*="flex-container"] {
    width: 1000%;
  }

}
</style>
